.main {
    position: relative;
    padding: 40px 75px 20px;
    width: 100%;
    height: 100%;
}

.main_content_btn {
    padding: 10px 22px;
    background-color: #4d5b9e;
    color: #f5f7fb;
    font-family: "Inter";
    font-size: 10.24px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.main_content_btn a {
    color: white;
    text-decoration: none;
}

.spinner_block {
    position: relative;
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content_form,
.main_content {
    width: 100%;
    height: 100%;
}

.main_content_check-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.main_content_check-block span {
    color: #293264;
    font-family: "Inter";
    font-size: 12.8px;
    font-weight: 700;
}

.main_content_btn:disabled {
    background-color: #b2b7d1;
    cursor: default;
}
