.main_content h3 {
    color: #293264;
    font-family: Karla;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}
.main_content_answers {
    display: flex;
    flex-direction: row;
    gap: 7px;
    flex-wrap: wrap;
}
.checkmark {
    padding: 4px 9px;
    border-radius: 7.942px;
    border: 0.794px solid #4d5b9e;
    color: #293264;
    font-family: Inter;
    font-size: 10.24px;
    font-weight: 500;
}

.checkmark_true {
    background-color: rgb(122 223 122);
}

.checkmark_false {
    background-color: rgb(248 114 114);
}

.main_content hr {
    margin-top: 14px;
    margin: 14px 0px;
}

.main_content_answers .checked {
    background: #d6dbf5;
    border: none;
}

.main_content_answers__item input {
    display: none;
}

.main_content_answers__item {
    cursor: pointer;
}
